# Maven
target/
.mvn/

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iml

# NetBeans
nb-configuration.xml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Idea files
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/

# NetBeans
nb-configuration.xml

# Thumbnails
._*

# Package Files
*.jar
*.war
*.ear

# Virtual Machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
build/

# Node
node_modules/
npm-debug.log
